<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fwitter</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body id="background" id="top">

<!-- Nav Bar -->
  <div id="section-topbar">     
<div class="all_navbar">
<nav class="navbar navbar-default" role="navigation" style="border-radius: 0 !important">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>    
      </div>
      <a class="navbar-brand" href="#top"><i class="fa fa-twitter"></i></a>
      <div class="navbar-collapse collapse" class="dropdown">
        <ul class="nav navbar-nav navbar-left" id="nav">
          <li class="menu-item-left"><a class="smoothScroll" href="#home" title="Home"><i class="fa fa-home"></i></a></li>
          <li class="menu-item-left"><a class="smoothScroll" href="#user" title="User"><i class="fa fa-user"></i></a></li>
          <li class="menu-item-left"><a class="smoothScroll" href="#notifications" title="Notifications"><i class="fa fa-bell"></i></a></li>
          <li class="menu-item-left"><a class="smoothScroll" href="#messages" title="Messages"><i class="fa fa-inbox"></i></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about">Login</a></li>
          <li><a href="#contact">Logout</a></li>
        </ul>
      </div>
</nav>   
</div> 
  </div><!--/ #section-topbar -->





<!-- Website Main Container -->

<!-- <div class="container"> -->
  <center><h1>Fwitter</h1></center>
  <div class="row">
  <!-- Left Side Bar -->
    <div class="col-sm-3" class="sidebar sidebar_left">
      <div class="notification-box">
        <div class="list">
          <img src="/img/twitter-egg.jpg" class="avatar">
          <div class="content">
           User
           <p>@User</p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Shows Tweets -->
    <div class="col-sm-6" class="main_box">
      <div class="notification-box">
        <form action="/" method="post" accept-charset="utf-8">
          <!-- Value is guest for now until we can create accounts -->
          <input type="hidden" name="username" value="guest">
          <input class="inp-text" type="text" name="tweet" placeholder="What is Happening?">
          <button class="tweet-btn" type="submit">Send</button>
        </form>

        <%@tweets.each do |tweet|%>
        <div class="list">
          <img src="/img/twitter-egg.jpg" class="avatar">
          <div class="content">
           <a href="/user/username" class="bold"><%=tweet.username%></a> <div class="light_text" style="display:inline"> @username</div>
           <p><%=tweet.tweet%></p>
          </div>
          <i class="time">Time</i>
        </div>
        <%end%>

        <!-- <div class="list">
          <img src="/img/twitter-egg.jpg" class="avatar">
          <div class="content">
            Other Tweet
          </div>
          <i class="time">17m</i>
        </div>
        <div class="list">
          <img src="/img/twitter-egg.jpg" class="avatar">
          <div class="content">
            Other Tweet
          </div>
          <i class="time">17m</i>
        </div>
        <div class="list">
          <img src="/img/twitter-egg.jpg" class="avatar">
          <div class="content">
            Other Tweet
          </div>
          <i class="time">17m</i>
        </div>
        <div class="list">
          <img src="/img/twitter-egg.jpg" class="avatar">
          <div class="content">
            Oldest Tweet
          </div>
          <i class="time">17m</i>
        </div> -->
      </div>
    </div>

<!-- Right Side Bar -->
    <div class="col-sm-3 sidebar sidebar_right">
      <p>Side Bar</p>
    </div>

  </div>
<!-- </div> -->



</body>
</html>